# pip3 install -r requirements.txt
streamlit
ragstack-ai
pypdf
pandas
langgraph
langchain
langchain-experimental
langchain-openai
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
pyngrok